@{
    ViewData["Title"] = "Dịch vụ của FurnitureShop";
}

<section class="py-5 bg-light">
    <div class="container">
        <h1 class="text-center mb-4">Dịch vụ của chúng tôi</h1>
        <p class="lead text-center mb-5">
            FurnitureShop tự hào mang đến cho khách hàng những dịch vụ chuyên nghiệp, tận tâm và đáng tin cậy.
        </p>

        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <img src="https://noithatmanhhe.vn/media/9771/noi-that-phong-khach-noi-that-manh-he.jpg" width="70%" class="mb-3" />
                <h4>Thiết kế nội thất trọn gói</h4>
                <p>Đội ngũ thiết kế sáng tạo giúp bạn tạo nên không gian sống hài hòa, sang trọng theo phong cách riêng.</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://media.saco.asia/media/uploads/sacoshop.vn/menus/193/van-chuyen-lap-dat_8440938878.jpeg" width="90%" class="mb-3" />
                <h4>Vận chuyển & lắp đặt miễn phí</h4>
                <p>Miễn phí giao hàng & lắp đặt tận nơi cho đơn hàng từ 5 triệu đồng trở lên.</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://hcm360.net/users/havtm/tieu_de2.webp" width="110%" class="mb-3" />
                <h4>Bảo hành dài hạn</h4>
                <p>Bảo hành chính hãng từ 12 đến 36 tháng, hỗ trợ bảo trì nhanh chóng khi cần thiết.</p>
            </div>
        </div>
                <div class="text-center mt-5">
            <a href="/Home/Index" class="btn btn-success px-4 py-2"> Quay lại trang chủ</a>
        </div>
    </div>
</section>
